{{#if filterEnabled}}
  {{filter-bar handler=filteringHandler properties=propertiesList}}
{{/if}}

{{#if topPaginator}}
  {{component topPaginator handler=paginatingHandler class="paginator--top"}}
{{/if}}

<table>
  {{#if showHeader}}
    <thead>
      <tr>
        {{#each propertiesList as |property|}}
        <th>
          <span {{action "sortBy" property.key on="click"}}>
          {{property.label}}
          {{#if property.sorting}}
            {{#if (is-equal property.sorting 'ASC')}}{{fa-icon "sort-asc"}}{{/if}}
            {{#if (is-equal property.sorting 'DESC')}}{{fa-icon "sort-desc"}}{{/if}}
          {{else}}
            {{fa-icon "sort"}}
          {{/if}}
          </span>
        </th>
        {{/each}}
        {{#if actions}}<th></th>{{/if}}
      </tr>
    </thead>
  {{/if}}

  <tbody>
    {{#each managedContent as |item|}}
    <tr>
        {{#each propertiesList as |property|}}
          {{data-col key=property.key item=item}}
        {{/each}}
        {{#if actions}}
          <td>{{data-actions object=item actions=actions}}</td>
        {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>

{{#if bottomPaginator}}
  {{component bottomPaginator handler=paginatingHandler class="paginator--bottom"}}
{{/if}}
