{{#if filterEnabled}}
  {{filter-bar handler=filteringHandler properties=propertiesList}}
{{/if}}

{{#if topPaginator}}
  {{component topPaginator handler=paginatingHandler class="paginator--top"}}
{{/if}}

<table>
  {{#if showHeader}}
    <thead>
      <tr>
        {{#if actionList.length}}
          <th title="Select all">
            {{check-box value=(is-equal managedContent.length selection.length)
                        updated=(action "selectPage")}}
          </th>
        {{/if}}
        {{#each propertiesList as |property|}}
        <th>
          <span {{action "sortBy" property.key on="click"}}>
          {{property.label}}
          {{#if property.sorting}}
            {{#if (is-equal property.sorting 'ASC')}}{{fa-icon "sort-asc"}}{{/if}}
            {{#if (is-equal property.sorting 'DESC')}}{{fa-icon "sort-desc"}}{{/if}}
          {{else}}
            {{fa-icon "sort"}}
          {{/if}}
            <span class="data-grid__header__sorting-order">
              {{property.sortingOrder}}
            </span>
          </span>
        </th>
        {{/each}}
      </tr>
    </thead>
  {{/if}}

  <tbody>
    {{#each managedContent as |item|}}
      {{data-row properties=propertiesList
                 hasActions=actionList.length
                 isSelected=(in-list item selection)
                 selectItem=(action "selectItem")
                 doubleClickAction=doubleClickAction
                 item=item}}
    {{/each}}
  </tbody>
</table>

{{#if bottomPaginator}}
  {{component bottomPaginator handler=paginatingHandler class="paginator--bottom"}}
{{/if}}

{{#if selection.length}}
  <div class="data-grid__selection">
    {{selection.length}} selected
    {{#if actionList.length}}
      {{data-actions objects=selection actionList=actionList}}
    {{/if}}
  </div>
{{/if}}
