<table>
  {{#if showHeader}}
    <thead>
      <tr>
        {{#each propertiesList as |property|}}
          <th>{{property.label}}</th>
        {{/each}}
      </tr>
    </thead>
  {{/if}}

  <tbody>
    {{#each pageContent as |item|}}
    <tr>
        {{#each propertiesList as |property|}}
          {{data-col key=property.key item=item}}
        {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>

{{#if pageAmount}}
  <div class="data-grid__paging">
    <div class="data-grid__paging__first" {{action "goToPage" 1 on="click"}}>
      &lt;&lt;
    </div>
    <div class="data-grid__paging__previous" {{action "goToPreviousPage" on="click"}}>
      &lt;
    </div>

    {{page-number value=currentPage maxValue=pageAmount}}
    /
    <div class="data-grid__paging__max">
      {{pageAmount}}
    </div>

    <div class="data-grid__paging__next" {{action "goToNextPage" on="click"}}>
      &gt;
    </div>
    <div class="data-grid__paging__last" {{action "goToPage" pageAmount on="click"}}>
      &gt;&gt;
    </div>
  </div>
{{/if}}
