{{#if filterEnabled}}
  {{filter-bar handler=filteringHandler properties=propertiesList}}
{{/if}}

{{#if topPaginator}}
  {{component topPaginator handler=paginatingHandler class="paginator--top"}}
{{/if}}

{{#if selection.length}}
  <div class="data-grid__selection">
    {{selection.length}} selected
    {{#if actionList.length}}
      {{data-actions objects=selection actionList=actionList}}
    {{/if}}
  </div>
{{/if}}

<table>
  {{#if showHeader}}
    <thead>
      <tr>
        {{#each propertiesList as |property|}}
        <th>
          <span {{action "sortBy" property.key on="click"}}>
          {{property.label}}
          {{#if property.sorting}}
            {{#if (is-equal property.sorting 'ASC')}}{{fa-icon "sort-asc"}}{{/if}}
            {{#if (is-equal property.sorting 'DESC')}}{{fa-icon "sort-desc"}}{{/if}}
          {{else}}
            {{fa-icon "sort"}}
          {{/if}}
            <span class="data-grid__header__sorting-order">
              {{property.sortingOrder}}
            </span>
          </span>
        </th>
        {{/each}}
      </tr>
    </thead>
  {{/if}}

  <tbody>
    {{#each managedContent as |item|}}
    <tr class="data-grid__row"
        onclick={{action "selectItem" item}}
        ondblclick={{action "doubleClickItem" item}}>
        {{#each propertiesList as |property|}}
          {{data-col property=property item=item}}
        {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>

{{#if bottomPaginator}}
  {{component bottomPaginator handler=paginatingHandler class="paginator--bottom"}}
{{/if}}
