<table>
  {{#if showHeader}}
    <thead>
      <tr>
        {{#each propertiesList as |property|}}
          <th>{{property.label}}</th>
        {{/each}}
      </tr>
    </thead>
  {{/if}}

  <tbody>
    {{#each pageContent as |item|}}
    <tr>
        {{#each propertiesList as |property|}}
          {{data-col key=property.key item=item}}
        {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>

{{#if pageAmount}}
  <div class="data-grid__paging">
    {{#each pageNumbers as |page|}}
      <div class="data-grid__paging__nr
                 {{if (is-equal currentPage page) 'data-grid__paging__nr--selected'}}"
         {{action "goToPage" page on="click"}}>
        {{page}}
      </div>
    {{/each}}
  </div>
{{/if}}
